---
import { CONTACTS } from "../data/contacts";
---

<ul class="flex gap-4">
  <li>
    <a
      href={CONTACTS.instagramUrl}
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Passi Condivisi su Instagram"
      class="hover:underline"
    >
      Instagram
    </a>
  </li>
  <li>
    <a
      href={CONTACTS.facebookUrl}
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Passi Condivisi su Facebook"
      class="hover:underline"
    >
      Facebook
    </a>
  </li>
</ul>
